<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAdYzguOTZfQxgq7-yNJzxJf0xUdt1sdg</string>
	<key>GCM_SENDER_ID</key>
	<string>1036273610640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YD.Memo</string>
	<key>PROJECT_ID</key>
	<string>futuregadget-001</string>
	<key>STORAGE_BUCKET</key>
	<string>futuregadget-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036273610640:ios:6e3f92190151860a1e0d15</string>
</dict>
</plist>